
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*header*/


.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #6d4845;
  padding: 20px 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 500;
}

.nav {
  display: flex;
  width: 100vw;
}

.nav__left {
  font-size: 30px;
  width: calc(100vw - 30%);
  text-align: center;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #edeaec;
  border-radius: 0;
  background: #6d4845;
}

a.btn-flat span {
  position: relative;
  z-index: 1;
  font-size: 25px;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: calc(-150% + 50px);

  width: 150%;
  height: 500%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
  transform: rotate(45deg) translateX(0) translateY(0);

  background: #edeaec;
}

a.btn-flat:after {
  position: absolute;
  top: -400%;
  right: calc(-150% + 50px);

  width: 150%;
  height: 500%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
  transform: rotate(45deg) translateX(0) translateY(0);

  background: #edeaec;
}

a.btn-flat:hover:before {
  -webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
  transform: rotate(45deg) translateX(0) translateY(-50%);
}

a.btn-flat:hover:after {
  -webkit-transform: rotate(45deg) translateX(0) translateY(50%);
  transform: rotate(45deg) translateX(0) translateY(50%);
}

a.btn-flat:hover {
  color: #ac291d;
}



.nav__right {
  margin: 20px;
  width: 800px;
  text-align: center;
}

.btn-flat4 {
  overflow: hidden;
  padding: 1.5rem 6rem;

  color: #6d4845;
  border-radius: 0;
  background: #edeaec;
}

.btn-flat4 span {
  position: relative;
  z-index: 1;
}

.btn-flat4:before {
  position: absolute;
  top: 0;
  left: calc(-100% + 10px);

  width: 100%;
  height: 100%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  background: #6d4845;
}

.btn-flat4:after {
  position: absolute;
  top: 0;
  right: calc(-100% + 10px);

  width: 100%;
  height: 100%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  background: #6d4845;
}

.btn-flat4:hover:before {
  -webkit-transform: translateX(50%) translateY(0);
  transform: translateX(50%) translateY(0);
}

.btn-flat4:hover:after {
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}

.btn-flat4:hover {
  color: #edeaec;
}

/*main*/

.main{
  display: flex;
  min-height: 100vh;
  background-color: #e8d6ae;
  min-width: 100vw;
}

.search {
  width: 20%;
  text-align: center;
  background-color: #aea5a0;
}

.search-1 {
  margin: 30px 15px;
  border: solid #00426d 2px;
  padding: 40px 5px;
  background-color: #c9c9c9;
}

.keyword-search {
  font-size: 25px;
  color: #4d3614;
  margin: 0px 0px 10px ;
}

.search-2 {
  margin: 30px 15px;
  border: solid #00426d 2px;
  padding: 40px 5px;
  background-color: #c9c9c9;
}

.keyword-search2 {
  color: #00426d;
  font-size: 20px;
}

.search-input {
  width: 80%;
  height: 30px;
  margin: 10px
}

.form-btn2 {
  color: #edeaec;
  background-color: #2d6a92;
  border-bottom: 5px solid #00426d;
}
.form-btn2:hover {
  margin-top: 3px;
  color: #edeaec;
  background: #00426d;
  border-bottom: 2px solid #00426d
}

.search-3 {
  margin: 30px 15px;
  border: solid #00426d 2px;
  padding: 40px 5px;
  background-color: #c9c9c9;
}

a.form-btn3 {
  color: #edeaec;
  background-color: #2d6a92;
  border-bottom: 5px solid #00426d;
}
a.form-btn3:hover {
  margin-top: 3px;
  color: #edeaec;
  background: #00426d;
  border-bottom: 2px solid #00426d;
}


.main2 {
  width: calc(100vw - 20%);
}

.user-show {
  width: 100%;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: calc(100vh - 161px);
  margin: 20px;
  text-align: center;
}

.page-title {
  font-size: 50px;
  color: #ac291d;
  text-align: center;
  font-family: 'Kiwi Maru', serif;
}

.card {
  width: 30%;
  height: 300px;
  margin: 7px;
  border: solid 3px #006f5f;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8ecd3;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__title {
  display: block;
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card__user {
  display: block;
  font-size: 20px;
  color: #999;
  text-align: right;
  text-decoration: underline;
  font-family: 'Kiwi Maru', serif;
}

.kaminari {
  text-align: center;
  font-size: 20px;
  background-color: #f8ecd3;
  font-family: 'Kiwi Maru', serif;
}

.shoe-wrapper {
  width: calc(100vw - 30%);
  height: calc(100vh - 20%);
  margin: 70px auto;
  border: double 10px #00426d;
  padding: 20px 10px;
}

.shoe-hedding {
  text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.shoe-image {
  text-align: center;
}

.shoe-explanation {
  font-size: 15px;
  width: calc(100vw - 70%);
  height: 300px;
  margin: 10px auto;
  border: 2px solid #006f5f;
  padding: 15px;
  font-family: 'Kiwi Maru', serif;
}

.shoe-maker {
  text-align: center;
  font-size: 20px;
  font-family: 'Kiwi Maru', serif;
}

.shoe-color {
  text-align: center;
  font-size: 20px;
  font-family: 'Kiwi Maru', serif;
}

.shoe-inout{
  text-align: center;
  font-size: 20px;
  font-family: 'Kiwi Maru', serif;
}

.shoe-user {
  font-size: 25px;
  text-align: center;
  font-family: 'Kiwi Maru', serif;
}

.shoe-manage {
  text-align: center;
}

.shoe-edit {
  margin: 10px;
}

.delete {
  margin: 10px
}

a.btn-show {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #4d3614;
  border-radius: 0;
  background: #b69b63;
}

a.btn-show span {
  position: relative;
}

a.btn-show:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #00426d;
}

a.btn-show:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}

a.btn-show:hover {
  color: #edeaec;
}

a.btn-sns {
  font-size: 2.4rem;
  line-height: 50px;

  width: 50px;
  height: 50px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}

a.btn-sns--twitter {
  background: #1da1f2;
}

/*フォーム*/

.page-heading {
  font-size: 50px;
  text-align: center;
  font-family: 'Kiwi Maru', serif;
}

.login {
  font-size: 50px;
  text-align: center;
  font-family: 'Kiwi Maru', serif;
}

.form__wrapper{
  min-height: calc(100vh - 161px);
  margin: auto;
  width: 800px;
}

.form-wrapper {
  margin: 30px;
  border: solid #006f5f 5px;
}

.form-input {
  width: 80%;
  height: 50px;
  margin: 20px;
}

.title-input {
  width: 80%;
  height: 30px;
}

.text-input {
  width: 80%;
  height: 100px;
}

.new-shoe {
  margin: 20px;
  font-size: 30px;
  color: #6d4845;
}

.form__text {
  width: 800px;
  height: 50px;
}

.field{
  margin: 20px;
  width: 800px;
  height: 100px;
  font-size: 30px;
}

.actions{
  margin-bottom: 40px;
  text-align: center;
}

.form-btn {
  color: #edeaec;
  background-color: #965752;
  border-bottom: 5px solid #6d4845;
}
.form-btn:hover {
  margin-top: 3px;
  color: #edeaec;
  background: #6d4845;
  border-bottom: 2px solid #6d4845
}


select {
  width: 80%;
  height: 30px;
  margin: 10px;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.main-image {
  height: 200px;
  width: 200px;
}

#previews {
  display: flex;
}

.preview{
  margin-right: 30px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}